body{
    background-color: rgb(158, 157, 160);

}
.container{
    float: center;
}
h1{
    float: center ;
    text-align: left;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{ margin: 100px;


}
